@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
body
{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    width: 2100px;
    height: 1080px;
    background-image: url(background.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
}
form
{
    width: 500px;
    height: 800px;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    background: rgba(3,3,3,0.5);
    backdrop-filter:blur(100px);
    box-shadow:  0px 0px 17px 2px rgba(255,255,255,0.8);
}
form h1
{
    text-align: center;
    margin-bottom: 67px;
    margin-top: 97px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #fff;
}
form label
{
    margin: 10px ;
    padding-left: 0px;
    color: white;
    margin-bottom: 20px;
}
form p
{
    margin: 0px auto ;
    padding-left: 0px;
    color: white;
    margin-bottom: 20px;
}
form  #account, form #password
{
    height: 50px;
    width: 400px;
    margin: 0px auto;
    background: transparent;
    border: 1px solid #fff;
    padding-left: 25px;
    color: white;
    margin-bottom: 20px;
    outline-color: #000000;
}
form .submit
{
    width: 300px;
    height: 75px;
    margin: 0px auto;
    margin-top:10px;
    margin-bottom: 10px;
    border:1px solid #fff;
    background:rgba(204, 11, 11, 0.678);
    color:#fff;
    font-weight: bold;
}
.submit:hover{opacity: 0.85;}
form a
{
    color:rgb(34, 165, 218);
    text-decoration: none;
}
.remember{
    text-align: left;
    font-size: 15px;
    margin-right: 200px;
    color:white;
  }
.forgot {
    text-align: right;
    font-size: 15px;
    margin: auto;
    text-decoration: none;
  }
form .forgot:hover{color:#ff3333;}
form .sign
{
    padding-top: 3px;
    text-align: center;
    font-size: 15px;
    display: inline-block;
}
form .sign a:hover{color:#ff3333;}
form span
{
    text-align: center;
    font-size: larger;
    color:#fff;
    font-size: large;
    padding-right: 10px;
    display: inline-block;
}
.fb
{
    text-align:center;
    margin:auto;
    width:60%;
    background-size: 5px;
    padding-left: 30px;
    padding: 10px 40px 10px 10px;
    border-radius: 10px;
    background-color: rgb(0, 115, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    display: inline-block;
    margin-bottom: 10px;
}
.fb:hover{opacity: 0.85;}
.gg
{
    text-align:center;
    margin:auto;
    width:60%;
    background-size: 5px;
    padding: 10px 40px 10px 10px;
    border-radius: 10px;
    background-color: rgb(204, 42, 63);
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
    display: inline-block;
    margin-bottom: 35px;
}
.signup-social-icon
{margin-right: 20px;}
.fb a{margin-left:20px; color:white;}
.gg a{margin-right: 25px;color:white;}
.gg:hover{opacity: 0.85; }
hr
{
    color:#fff;
    text-align: center;
    width:40%;
}
