@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
body
{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    width: 2100px;
    height: 1080px;
    background-image: url(background.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
}
form
{
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background: rgba(3,3,3,0.5);
    backdrop-filter:blur(100px);
    box-shadow:  0px 0px 17px 2px rgba(255, 255, 255, 0.8);
    
}
form h3
{
    text-align: center;
    margin-bottom: 57px;
    margin-top: 67px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    color: #fff;
}
form p
{
    color:#fff;
    margin-left: 20px;
}
form #email
{
    height: 40px;
    width: 600px;
    margin-left: 45px;
    margin-bottom: 20px;
    background: transparent;
    border:1px solid #ffffff;
    color:#fff;
    outline-color: #000000;
    border-radius: 5px;
}
.send
{
    margin-left: 50px;
    width: 600px;
    height: 40px;
    color:#fff;
    border: 0.5px solid #fff;
    background:rgba(204, 11, 11, 0.678);
    margin-bottom: 50px;
}
.send:hover{opacity:0.85}
form a
{
    font-size: 25px;
    text-align: center;
    text-decoration: none; 
    color:rgb(34, 165, 218);
}
form a:hover{color:red;}
hr
{
    text-align: center;
    width: 60%;;
    color:#fff;
    margin-bottom: 15px;
}